<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
	<div class="logo">
		<h1><%=link_to "Ungli",root_path %></h1>
		<h1><a href="index.html">Ungli<span>c</span></a></h1>
	</div>
	<div class="logo-icon text-center">
		<%=link_to "U",root_path%>
	</div>

	<!--logo and iconic logo end-->
			<div class="left-side-inner">

		<!--sidebar nav start-->
			<ul class="nav nav-pills nav-stacked custom-nav">
				<li class="active"><%=link_to root_path do%>
					<i class="lnr lnr-home"></i><span>Home</span>
				<% end %>
				</li>
				<li><a href="#l"><i class="fa fa-user"></i><span>Blog</span></a></li>
				<li>
				<%= link_to new_story_path do %>
					<i class="lnr lnr-pencil"></i> <span>Typography</span>
				<% end %>	
				</li>
				<li class="menu-list"><a href="#"><i class="lnr lnr-heart"></i>  <span>My Favourities</span></a> 
					<ul class="sub-menu-list">
						<li><a href="#">All Songs</a></li>
					</ul>
				</li>
				<li class="menu-list"><a href="contact.html"><i class="fa fa-thumb-tack"></i><span>Contact</span></a>
					<ul class="sub-menu-list">
						<li><a href="contact.html">Location</a> </li>
					</ul>
				</li>     
			</ul>
		<!--sidebar nav end-->
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body modal-spa">
				<div class="sign-grids">
					<div class="sign">
						<div class="sign-left">
							<ul>
								<li><a class="fb" href="/auth/facebook"><i></i>Sign in with Facebook</a></li>
							</ul>
						</div>
						<div class="sign-right">
							<form action="#" method="post">
								<h3>Create your account </h3>
								<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
								<input type="text" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
								<input type="text" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">	
								<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
								
								<input type="submit" value="CREATE ACCOUNT">
							</form>
						</div>
						<div class="clearfix"></div>								
					</div>
					<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
				</div>
			</div>
		</div>
	</div>
</div>