<div id="page-wrapper">
	<div class="inner-content">
		<div class="tittle-head">
			<h3 class="tittle"> Edit <span class="new">Story</span></h3>
		<div class="clearfix"> </div>
		</div>
	</div>
	<%= render "form" %>
</div>