<div id="page-wrapper">
		<div class="inner-content">
		<div class="tittle-head">
					<h3 class="tittle">Find Us </h3>
					<div class="clearfix"> </div>
				</div>
			<!-- /contact-->
			<div class="contact">
			 <div class="contact-left">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1011.1240098831156!2d81.77046921515046!3d25.430362729150307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399acac768944451%3A0x1f0c03a031f74c3f!2sIndian+Institute+of+Information+Technology+Allahabad!5e0!3m2!1sen!2sin!4v1473545432639" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

			</div>
			<div class="contact-right">
				<p class="phn">+91999999999</p>
				<p class="phn-bottom">Boys-Hostel-2
						<span>Jhalwa Road,IIITA</span></p>
				<p class="lom">Indian Institute of Information Technology,Allahabad, Uttar Pradesh</p>
			</div>
			<div class="clearfix"> </div>
			<div class="contact-left1">
				<h3>Contact Us With <span>Social Links</span></h3>
				<div class="in-left">
					<ul style="list-style:none">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
				<div class="in-right">
					<ul style="list-style:none">
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin"></i></a></li>
						<li><a href=""><i class="fa fa-reddit"></i> </a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
							
			</div>
		</div>
	<div class="clearfix"></div>
		<!--body wrapper end-->

</div>